<div class="card border-lightmb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6">
                <strong><a href="/games/{{game._id}}">{{game.title}}</a></strong>
            </div>
            <div class="col-sm-6 text-right">
                <small><a href="/games/n/{{game.topic}}">{{game.topic}}</a></small>
            </div>  
        </div>      
    </div>
</div>
<li class="list-group-item">
    <div class="lead">user info</div>
</li>
<p></p>