<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='https://bootswatch.com/4/yeti/bootstrap.min.css'>

    <title>LAFIY</title>
  </head>
  <body>
    {{> navbar}}
    <h1>Lower a finger if you ...</h1>
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
    <div class="card-header"><strong>Post Rules: </strong></div>
    <div class="card-body">
      <p class="card-text">
        <p>   - Only Logged in users can add posts to a game</p>
        <p>   - posts unrelated to the category will be deleted</p>
        <p>   - Select a category to play in that game</p>
      </p>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
    <div class="card-header"><strong>Game Rules: </strong></div>
    <div class="card-body"></div>
      <p class="card-text">
        <p>   - Put up a hand, fingers up, read a post, if it applies to you, lower a finger</p>
        <p>   - Click the 'Lower', or 'Nope' buttons to have the website keep track of your fingers for you</p>
        <p>   - If you lower all of your fingers, you lose the game.</p>
      </p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
    
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>