<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/games/new" method="post">
      <legend>New Game</legend>
      <div class="form-group">
        <label for="game-topic">Topic</label>
        <input type="text" name="topic" class="form-control" id="game-topic" placeholder="single_word_topic">
      </div>
      <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" name="title" class="form-control" id="post-title" placeholder="catchy title of game">
      </div>
      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>
    </form>
  </div>
</div>