<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <class="lead">{{game.title}}<br><br></a>
    <div><small> On the topic of {{game.topic}}</small></div>
    <p> Lower a finger if you ...</p>

    {{#each game.challenges}}
      {{> challenge challenge=this}}
    {{/each}}

    <form action="/games/{{game._id}}/challenge" method="post">
      <div class="form-group">
        <textarea class='form-control' name="challenge" placeholder="insert your challenge"></textarea>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>