<h1>Lower a finger if you ...</h1>
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
    <div class="card-header"><strong>Post Rules: </strong></div>
    <div class="card-body">
      <p class="card-text">
        <p>   - Only Logged in users can add posts to a game</p>
        <p>   - posts unrelated to the category will be deleted</p>
        <p>   - Select a category to play in that game</p>
      </p>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
    <div class="card-header"><strong>Game Rules: </strong></div>
    <div class="card-body"></div>
      <p class="card-text">
        <p>   - Put up a hand, fingers up, read a post, if it applies to you, lower a finger</p>
        <p>   - Click the 'Lower', or 'Nope' buttons to have the website keep track of your fingers for you</p>
        <p>   - If you lower all of your fingers, you lose the game.</p>
      </p>
    </div>