<h1>Select a game: </h1>
<div class="container">
  <div class="row">
    <div class="col col-md-6">
      <div class="card text-white bg-info mb-3">
        <div class="card-header"><strong>Post Rules: </strong></div>
        <div class="card-body">
          <p class="card-text">
            <p>   - Only logged in users can add posts to a game</p>
            <p>   - posts unrelated to the category will be deleted</p>
            <p>   - Select a category to play in that game</p>
          </p>
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card text-white bg-info mb-3">
        <div class="card-header"><strong>Game Rules: </strong></div>
        <div class="card-body">
          <p class="card-text">
            <p>   - Five fingers up, read a post, if it applies to you, lower a finger</p>
            <p>   - Click the 'Lower', or 'Nope' buttons to keep track of your fingers</p>
            <p>   - If you lower all of your fingers, you lose the game.</p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <ul>
      {{#each games}}
        {{> game game=this}}
      {{/each}}
    </ul>
  </div>
</div>
